{% extends 'layout.twig' %}

{% block body %}

<div class="row">
    <div class="col-3 offset-3">
        <input id="username" type="text" class="form-control animated" autocomplete="off" placeholder="Username"></input>
    </div>
    <div class="col-2 offset-1">
        <input id="color" type="text" class="form-control" autocomplete="off" placeholder="Color"></input>
        <small id="colorHelp" class="form-text text-muted">Hexadecimal, RGB color value</small>
    </div>
</div>

<div class="">
    <ul class="list-group mt-5" id="messages"></ul>
</div>

<form id="form" class="mt-5">
    <div class="row">
        <div class="col-lg-11 col-md-10 col-sm-10">
            <input id="m" type="text" class="form-control" autocomplete="off"></input>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-2 text-center">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    </div>
</form>

<script src="/socket.io/socket.io.js"></script>

<script>
    $(() => {
        var animationEnd = (function (el) {
            var animations = {
                animation: 'animationend',
                OAnimation: 'oAnimationEnd',
                MozAnimation: 'mozAnimationEnd',
                WebkitAnimation: 'webkitAnimationEnd',
            };

            for (var t in animations) {
                if (el.style[t] !== undefined) {
                    return animations[t];
                }
            }
        })(document.createElement('div'));

        var socket = io();
        $('#form').submit(function (e) {
            e.preventDefault();

            if ($('#username').val() == '' && $('#username').val().length < 4) {

                $('#username').addClass('flash');
                $('#username').one(animationEnd, function () {
                    $('#username').removeClass('flash');
                });
                return;
            }

            if ($('#m').val() != '') {
                let msg = $('#m').val();
                let username = $('#username').val();
                let color = $('#color').val();

                socket.emit('chat message', {
                    'message': msg,
                    'username': username,
                    'color' : color
                });

                $('#m').val('');
            }
        });

        socket.on('chat message', function (data) {
            $('#messages').append($('<li class="list-group-item"><b style="color:'+data.color+';">' + data.username + '</b> - ' + data.message + '</li>'));
        });
    });
</script>

{% endblock %}