{% extends 'layout.twig' %}

{% block body %}

<ul class="list-group" id="messages"></ul>

<form id="form" class="mt-5">
    <div class="row">
        <div class="col-lg-10">
            <input id="m" type="text" class="form-control"></input>
        </div>
        <div class="col-lg-2 text-center">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    </div>
</form>

<script src="/socket.io/socket.io.js"></script>

<script>
    $(() => {
        var socket = io();
        $('#form').submit(function (e) {
            e.preventDefault();
            if ($('#m').val() != '') {
                socket.emit('chat message', $('#m').val());
                $('#m').val('');
            }
        });

        socket.on('chat message', function (msg) {
            $('#messages').append($('<li class="list-group-item">' + msg + '</li>'));
        });
    });
</script>

{% endblock %}